* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    display: flex;
    background-color: #EFEEE6;

    position: relative;
}

nav {
    padding-left: 12%;
    display: flex;
    flex-direction: column;
    width: 13%;
    height: 100vh;

    background-color: #8A191F;

    position: absolute;
}

#logo {
    width: 13%;
    position: fixed;
    top: 9%;
    left: 5%;
}

#about {
    top: 34%;
    left: 6.9%;
    width: 9%;
    position: fixed;
}

#about:hover {
    transform: skew(-10deg);
}

#events {
    top: 46%;
    left: 8%;
    width: 9.1%;
    position: fixed;
}

#events:hover {
    transform: skew(-10deg);
}

#merch {
    top: 58%;
    left: 7.6%;
    width: 8.5%;
    position: fixed;
}

#merch:hover {
    transform: skew(-10deg);
}

#connect {
    top: 70%;
    left: 7.3%;
    width: 11.5%;
    position: fixed;
}

#connect:hover {
    transform: skew(-10deg);
}

/* BODY */
h1 {
    font-family: Didot, serif;
    color: #8A191F;
    text-align: right;
    font-size: 6em;
    padding-left: 62%;
    width: 70%;
}

h2 {
    font-family: Futura, sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 100;
    color: #373B3B;
}

h2:hover {
    text-decoration: underline;
}

p {
    font-family: Futura, sans-serif;
    font-size: 1em;
    font-weight: 100;
    color: #373B3B;
    text-align: justify;
    line-height: 170%;
}

#main {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 25%;
    flex-wrap: wrap;
}

#chunk {
    display: flex;
    margin-top: 3%;
}

#socials {
    width: 30%;
    margin-top: 3%;
}

#socials img {
    width: 40%;
    margin-right: 5%;
}

.pair {
    display: flex;
    padding-bottom: 15%;
    align-items: center;
}

a {
    text-decoration: none;
    color: #373B3B;
}

#sponsor {
    display: flex;
    margin-left: 15%;
    margin-top: 2%;
}

#sponsorpic:hover {
    opacity: 0.5;
}

#group {
    margin-right: 3%;
    width: 45%;
}

#group img {
    width: 100%;
    margin-bottom: 3%;
}

#text {
    width: 50%;
}