* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    display: flex;
    background-color: #EFEEE6;

    position: relative;
}

nav {
    padding-left: 12%;
    display: flex;
    flex-direction: column;
    width: 13%;
    height: 405vh;

    background-color: #8A191F;

    position: absolute;
}

#logo {
    width: 13%;
    position: fixed;
    top: 9%;
    left: 5%;
}

#about {
    top: 34%;
    left: 6.9%;
    width: 9%;
    position: fixed;
}

#about:hover {
    transform: skew(-10deg);
}

#events {
    top: 46%;
    left: 8%;
    width: 9.1%;
    position: fixed;
}

#events:hover {
    transform: skew(-10deg);
}

#merch {
    top: 58%;
    left: 7.6%;
    width: 8.5%;
    position: fixed;
}

#merch:hover {
    transform: skew(-10deg);
}

#connect {
    top: 70%;
    left: 7.3%;
    width: 11.5%;
    position: fixed;
}

#connect:hover {
    transform: skew(-10deg);
}

/* COPY PASTE^^^^^^^^^ */

h1 {
    font-family: Didot, serif;
    color: #8A191F;
    text-align: right;
    font-size: 6em;
}

#main {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-right: 8%;
    margin-left: 15%;
}

#tix {
    font-family: Futura, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 100;
    color: #373B3B;
    text-align: center;
    width: 10%;
    padding: 1%;
    background-color: #C8D174;
    border-radius: 10px;
    box-shadow: 2px 3px 6px #373B3B;
    position: absolute;
    left: 26%;
    top: 16%;

    border: 5px solid transparent;
}

#tix:hover {
    border: 5px solid #8A191F;
}

#section {
    display: flex;
    width: 100%;
}

#pic {
    height: auto;
    width: 35%;
    
    padding-left: 6%;
}

#text {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h3 {
    font-family: Futura, sans-serif;
    text-transform: uppercase;
    font-size: 2.125em;
    font-weight: 100;
    color: #373B3B;
}

h4 {
    font-family: Futura, sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    color: #8A191F;
}

p {
    font-family: Futura, sans-serif;
    color: #373B3B;
    line-height: 175%;
    text-align: justify;
    text-indent: 5%;
}